#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation media
url --url="http://192.168.172.128/rhel7/"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=test-machine

# Root password
rootpw --iscrypted $6$RWE/U/dPjVqWoHJo$S2UVSdjZgdR.qrZCnxxFw1V0/gqC47flhNp3zHOWuBxxqNr2eoLH07.DNgkW4P5e.pRxkgNMB2QsFlQq7NMxb0
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc

# If you don't want to create a user except root 
#user --name=gaurav --password=$6$0DsV2bE4p73V88M8$Wk9QptdeBels8GZtn0NtS8K/EBEAF4.FTYCcYuyltOwxdmgmmTprQAaFeeAztC9sQxA4tkEifZcRktYipQjO91 --iscrypted --gecos="gaurav" 

# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@compat-libraries
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
